// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;
$darkgrey: #2c2d2d;


.homepadborder {
	margin-top: 10vh;
    background-color: rgba(0,0,0,0.7);
    background-size: cover;
    border: 10vh solid transparent;
    border-image: url(http://res.cloudinary.com/dx3z90dgl/image/upload/v1485724817/brackets_r2tay1.png) 20% repeat;
}

.herowhiteh1 {
	color:#FFFFFF;
	font-weight:900;
}
.herowhiteh2 {
	color:#FFFFFF;
	font-weight:900;
	text-align:center;
	margin-bottom:5vh;
}
.herowhiteh4 {
	color:#FFFFFF;
}

.your-adventure-button-bottom {
	margin-top: 40px;
}

.top-section {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485727651/hero_q5mkrx.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#hero-button {
  // border: none;
  // color: $secondary4;
  // text-align: center;
  // max-width: 600px;
  // position: absolute;
  margin-top: 543px;
  background: #949494 !important;
  color: $secondary4;
  border: 3px solid #e5e3e3;
  min-width: 160px;


  &:hover {
    background: $secondary4 !important;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color.2s ease-in-out;
    transition: color .2s ease-in-out;
    color: $primary1;
  }
}

.enter-now-container {
  text-align: center;
}

.hero-images {
  overflow: hidden;
  margin-top:30vh;
}

.logo {
  img {
    max-width: 600px;
    position: absolute;
    top: 150px;
  }
}

.brackets {
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    max-width: 900px;
  }
}

.bracket-text {
		background-size: cover;
		border: 10vh solid transparent;
		border-image: url(http://res.cloudinary.com/dx3z90dgl/image/upload/v1485724817/brackets_r2tay1.png) 20% repeat;
  h1 {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    font-family: $font-regular;
    font-weight: 700;
    margin-bottom: 30px;
    margin: 0;
  }
  h3 {
    color: white;
    font-family: $font-regular;
		font-size: 2rem;
  }
}

.your-adventure-button-top {
	margin-bottom: 40px;
}

.your-adventure {
	background-image: url(http://res.cloudinary.com/dx3z90dgl/image/upload/v1485119460/Section2_Background_02_ts44ed.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.your-adventure:before {
  background-color: rgba(0, 0, 0, 0.29);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.how-to-win {
  background: #a9a9a9;;
  color: #2c2d2d;
  font-family: $font-regular;
  .wrapper {
    margin: 100px 0;
  }
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.5rem;
  }
  p {
    font-size: 17px;
  }
  hr {
    border-top: 2px solid rgba(238, 238, 238, 0.29);
  }
  // .prize {
  //   color: $primary1;
  // }
}

.polaroid-home {
  max-width: 350px;
  padding-bottom: 30px;
}

.entry-instructions {
  color: white;
  h1 {
    margin-top: 0;
  }
}


.enter-to-win {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  h1 {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
    margin-top: 0;
    padding: 90px 0px 0px;
    text-align: center;
    color: white;
    letter-spacing: 0.3rem;
  }
  .below {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    color: $secondary4;
  }
}

.rules {
  list-style-type: none;
  padding-top: 150px;
  font-size: 2rem;
  font-family: $font-regular;
  color: $secondary4;
}

.fa-check-square {
  color: $secondary4;
  margin: 0;
  font-size: 4rem !important;
}

.rules-text {
  line-height: 50px;
}

.signup-form {
  display: block;
  margin: auto;
  width: 100%;
}

.field input {
  width: 100%;
  height: 4rem;
  font-family: $font-regular;
  padding-left: 10px;
  font-size: 2rem;
}

.instructions {
  line-height: 1;
}

.instructions-small {
  line-height: 1;
  margin-top: 10px;
}

.actions {
  margin: auto;
  display: block;
  text-align: center;

  input {
    border: 3px solid $secondary4;
    background: red;
    border-radius: 5px;
    color: $secondary4;
    padding: 6px 16px;
    text-transform: uppercase;
    font-family: $font-regular;
    font-size: 2rem;

    &:hover {
      background: $secondary4;
      color: $primary1;
      transition: background 0.3s ease;
    }
  }
}


.choose-canada {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.board-text {
  position: absolute;
  margin-top: 200px;
  text-align: center;
  h1 {
    text-align: center;
    color: $primary2;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    color: $secondary4;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
  }
}

.green-board {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407526/Entries_Board_nq7d9b.png");
  margin: 2%;
  height: 600px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

.entries-last-six img {
  max-width: 100%;
}

.image-block {
  width: auto;
  // height: 400px !important;
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  &:hover {
    cursor: pointer;
    .hover-content-top {
      display: block;
    }
    .hover-content-bottom {
      display: block;
    }
    .hover-content-bottom-right {
      display: block;
    }
  }
}

.image-block:before {
  background-color: rgba(0, 0, 0, 0.0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hover-content-top {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
}

.hover-content-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
}

.hover-content-bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5rem;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  &:hover {
    background: white;
    transition-property: background, color;
    transition-duration: .5s;
    a {
      color: $primary1;
    }
  }
}

.hover-user {
  font-size: 4rem;
  font-family: $font-regular;
  text-transform: uppercase;
  margin: 0 10px;
}


.hover-title h3 {
  margin: 0 10px;
  font-weight: 700;
}

.hover-share {
  margin: 10px;
}

.hover-more {
  padding-bottom: 40px;
  display: inline-block;
  a {
    color: white;
  }
  &:hover {
    a {
      color: $primary2;
      text-decoration: none;
    }
  }
}

.hover-content-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}



.image-block:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
}


.more-posts {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}



.tourism-bottom {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485722649/19560925711_ff5979b97c_o_f6hvcn.jpg");
  height: 550px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    h1 {
      margin-top: 0;
      padding: 80px 0 40px;
      color: $secondary4;
      font-family: $font-regular;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
      // letter-spacing: 0.3rem;
    }
    h3 {
      color: $secondary4;
      // letter-spacing: 0.15rem;
      font-weight: 300;
    }
    .button-container {
      text-align: center;
    }
}

.overlay {
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
		text-align: center;
}
//media quieries for home page
@media (max-width: 1200px) {
	.tourism-bottom h1 {
		padding-top: 42px;
	}
}


@media (max-width: 990px) {
	.hero-images {
		margin-top: 5vh;
	}

	.homepadborder {
		border-width: 7vh;
		margin-top: 4vh;
	}

	.vote-canada-button {
		font-size: 1.6rem;
	}

	.board-text h2 {
		font-size: 3rem;
	}

	.board-text h1 {
		font-size: 4rem;
	}
}
