<div class="container-fluid" style="margin-top: 25vh;">
  <div class="row">
    <div class="col-xs-12">
      <h1>RTO12/Explorers’ Edge </h1>

      <h3>Welcome to the ‘SHARE YOUR CANADA CONTEST” from RTO12/Explorers’ Edge – the regional tourism organization for Algonquin Park, Almaguin, Loring-Restoule, Muskoka and Parry Sound, Ontario, Canada that is funded by the Ontario Ministry or Tourism, Culture & Sport.</h3>

      <h1>CONTEST TERMS & CONDITIONS</h1>
      <h3>Eligibility</h3>
      <ul>
        <li>The Share Your Canada contest is only open to Canadian citizens currently legally residing in the United States of America, England or Scotland who are at least 19 years of age or older. Entrants must hold a valid passport to qualify and be eligible to obtain all legal travel documentation required to travel to Canada.</li>
        <li>Explorers’ Edge reserves the right to disqualify contest entrants who submit low quality images or derogatory content.</li>
        <li>All entrants must be willing to submit email address and enter contest through designated online portal. </li>
        <li>All entrants must agree to appear in person at Muskoka Region upon agreed trip timeframe (July or August 2017) and to have their social content judged by the Regional Judge. </li>
        <li>Explorers’ Edge will cover costs for round-trip travel to and from Toronto’s Pearson International Airport for four (4) adults, one week (7 days) of driver-provided transportation to and from Pearson International Airport to the Explorers’ Edge region and to applicable activities, 1-week (7 days) of shared accommodations at a participating accommodations provider(s), 2 qualified activities and 1 pre-paid credit card in the amount of $500 Canadian to cover the costs of additional transport (taxis) and dining. Grand Prize winner and additional travelers will cover costs of all insurance, travel documents incidentals and additional travel/food/activities/food.</li>
        <li>There is no purchase necessary to enter this contest. </li>
        <li>You must be 19+ at the time of travel.</li>
      </ul>
      <h3>Qualifying Shared Memories of the Great Canadian Wilderness</h3>
      <p>
        Explorers’ Edge has broadly defined the concept of an ideal eligible great Canadian wilderness memory.
      </p>
      <p>
        Qualifying entrants must enter a memory that:
      </p>
      <ul>
        <li>Took place somewhere in the great Canadian wilderness </li>
        <li>Is accompanied by a high resolution image</li>
        <li>Shows your pride in Canada and your passion for being Canadian </li>
      </ul>
      <h3>Sponsor</h3>
      <p>
        The Share Your Canada Contest is sponsored and administered by RTO12/Explorers’ Edge and its partners. Explorers’ Edge will use and show partner logos on all marketing and/or promotional material without notice. This photo/video contest is no way sponsored by, endorsed by, administered by, or associated with Facebook, Instagram or Twitter.
      </p>
      <h3>Entry Period</h3>
      <p>
        The Share Your Canada contest will officially open on February 23, 2017. Public voting will close May 21st, 2017.  Five finalists will be determined from highest vote tabulation on May 21, 2017 and the Grand Prize winner will be chosen and announced from among the finalists by the Regional Judge on May 22, 2017.
      </p>
      <h3>Submission</h3>
      <p>
        Your great Canadian wilderness memory can be entered in one way:
      </p>
      <ul>
        <li>Through the Share Your Canada website: www.shareyourcanada150.ca Each submission must have the following:</li>
        <li>One high resolution .jpg, .jpeg, .png or .gif format photos (uploaded to the Share Your Canada website) and;</li>
        <li>A 250-word description of the memory and why you think it deserves to be voted as “most Canadian”</li>
      </ul>
      <p>
        Please do NOT submit the following:
      </p>
      <ul>
        <li>Content that violates or infringe upon another person’s rights, including but not limited to copyright</li>
        <li>Photo that includes people other than yourself unless you have their permission to post and share online</li>
        <li>Content that contains sexually explicit, nude, obscene, violent or other objectionable or inappropriate content.</li>
        <li>Photos and videos of a memory you do not own</li>
      </ul>
      <h3>How to Enter</h3>
      <p>
        All content must be submitted through the entry form on our dedicated contest website. Your submission must include all required fields, including name, email and other information about your Canadian memory.
You may enter one memory, one time only and you may not use an agency or automated system to enter. Sponsor reserves the right to reject any additional entries or entries that do not comply with the Contest Rules. By entering, you indicate your unconditional agreement to, and acceptance of, these Contest Rules and Sponsor’s decisions, which are final and binding. You cannot win a prize unless you comply with all requirements in these Contest Rules.
Entrants may be asked to supplement their submission (such as additional information about their entry or the highest resolution version of their photo/video content) at anytime during the entry period.
By entering this contest, all entrants hereby agree to allow Explorers’ Edge to use, royalty-free and nonexclusive, all submitted content and relevant personal information such as name and hometown, for use on website, social media, promotional and publicity materials in perpetuity.
      </p>
      <h3>Selection & Judging</h3>
      <ul>
        <li>All submissions will be reviewed by Explorers’ Edge staff and qualified entries will be posted to the Share Your Canada contest website where the public will be able to vote and share entries.</li>
        <li>Explorers’ Edge staff shall determine entry eligibility in its sole and absolute discretion.</li>
        <li>Public online voting will close on May 21, 2017 to determine the Five Finalists.</li>
        <li>The top finalists (decided by public votes) will then be judged by the Regional Judge to select one Grand Prize winner.</li>
        <li>The Regional Judge will base his decision on a combination of the quality of the memory pertaining to the great Canadian wilderness experience, positive public reaction to the memory, and the owner’s evident passion for being a Canadian.  Extra consideration will be given to memories that showcase Algonquin Park, Muskoka, Parry Sound or the geographical areas close by.</li>
        <li>The Regional Judge is: James Murphy, Executive Director of Explorers’ Edge </li>
        <li>The Grand Prize Winner will be announced on May 22, 2017 and has 7-days to accept this prize or a new winner will be selected from among the five finalists. This process will continue until the Grand Prize is accepted. If none of the five finalists accepts the Grand Prize after being awarded it, there will be no further selection of a winner.</li>
      </ul>
      <h3>Potential Winner/Finalist Requirements</h3>
      <p>
        Except where prohibited, a potential winner/finalists (Five Finalists and Grand Prize winner) may be required to complete and return an affidavit of eligibility, including proof of age, and liability/publicity release within 7-days of being contacted. If a potential winner fails to return these documents on time, an alternate potential winner may be selected in his/her place.
      </p>
      <h3>Prizes</h3>
      <p>
        The Grand Prize will be awarded to one qualified entrant who adheres to the contest rules and have his or her entry displayed on the contest website.<br>
The Grand Prize must be redeemed within the months of July, 2017 or August, 2017 and must be fully booked by Explorers’ Edge and its partner travel agent by June 15, 2017 (based on availability).<br>
Five finalists determined by top votes will receive the Finalist Prize and qualify for the Grand Prize judging.<br>
Throughout the contest, random entrants will be selected to receive ‘Canadian Care Packages.’ These will be chosen at random and are not subject to vote counts.<br>
The prizes are as follows:
      </p>
      <h3>Grand Prize:</h3>
      <ul>
        <li>A round trip for four (4) adults to the Explorer’s Edge region of Ontario, Canada during the month of July, 2017 or August 2017 (and only within that time period), that includes:</li>
        <li>Flight for four (4) in economy class from continental United States or the United Kingdom to Pearson International Airport in Toronto</li>
        <li>Driver-provided transportation to and from the airport to the Explorers’ Edge region of Ontario and to additional activities;</li>
        <li>7-nights shared accommodation at a participating accommodations provider (based on availability) in the Explorers’ Edge region (visit www.explorersedge.ca/stay for participating accommodations providers)</li>
        <li>2 pre-selected regional activities (such as canoe trip or ATV tour) from participating attractions (based on availability; visit www.explorersedge.ca/do for options)</li>
        <li>Prepaid credit card in the amount of $500 Canadian to cover food and additional transportation costs</li>
      </ul>
      <h3>Estimated Grand Prize Value: $20,000 Canadian</h3>
      <h3>Finalist Prize:</h3>
      <ul>
        <li>Five finalists will receive a Roots Canada travel bag. They must provide a valid mailing address to receive the prize.</li>
        <li>Estimated Finalist Prize Value: $500 Canadian each</li>
      </ul>
      <h3>Incentive Prize:</h3>
      <ul>
        <li>During the duration of the contest, entrants will be chosen at random to receive on of 4 ‘Canadian care packages’ created by the Explorers’ Edge staff.</li>
        <li>These prices will be awarded March 23, April 20, and May 11.</li>
        <li>Estimated Incentive Prize Value: $150 Canadian each</li>
      </ul>
      <p>
        All winners are responsible for paying any income taxes and any and all other costs and expenses not listed above. Any prize details not specified above will be determined by Sponsor, in its sole discretion. A prize may not be transferred and must be accepted as awarded. A winner may not request cash or a substitute prize; however, Sponsor reserves the right to substitute a prize with another prize of equal or greater value if the prize is not available for any reason, as determined by Sponsor, in its sole discretion.
      </p>
      <h3>Travel & Social Sharing</h3>
      <p>
        By entering this contest you agree to the use of your submitted memory by Explorers’ Edge for social and promotional sharing. Explorers’ Edge will provide reasonable transportation to and around the Region if selected as a for Grand Prize winner and additional 3 travelers. The contestant shall have valid comprehensive insurance in place, and shall hold Explorers’ Edge and its agents harmless in all respects for any loss or damage and not liable in case of injury or death. Winner and 3 additional adult travelers may be asked to sign additional waivers by tourism providers in our region.
      </p>
      <h3>General Conditions</h3>
      <p>
        Sponsor and its respective parent, affiliate and subsidiary companies, agents, and representatives are not responsible for any typographical or other errors in the offer or administration of the contest, including, but not limited to, errors in any printing or posting or these Contest Rules, the selection and announcement of any winner, or the distribution of any prize. Any attempt to damage the content or operation of this Contest is unlawful and subject to possible legal action by Sponsor. Sponsor reserves the right to terminate, suspend or amend the Contest, without notice, and for any reason, including, without limitation, if Sponsor determines that the Contest cannot be conducted as planned or should a virus, bug, tampering or unauthorized intervention, technical failure or other cause beyond Sponsor’s control corrupt the administration, security, fairness, integrity or proper play of the Contest. In the event any tampering or unauthorized intervention may have occurred, Sponsor reserves the right to void suspect entries at issue. Sponsor and its respective parent, affiliate and subsidiary companies, agents, and representatives, and any telephone network or service providers, are not responsible for incorrect or inaccurate transcription of entry information, or for any human error, technical malfunction, lost or delayed data transmission, omission, interruption, deletion, line failure or malfunction of any telephone network, computer equipment or software, the inability to access any website or online service or any other error, human or otherwise.
      </p>
      <h3>Voting</h3>
      <p>
        Once a qualifying entry has been submitted, it will become available for public voting. A “qualifying Entry” is an Entry that receives a final determination of eligibility under the Contest Rules and a “qualifying vote” is a vote that is submitted online and complies with the Contest Rules.<br>

Any attempt to use multiple or different e-mail addresses, identities, logins, or any other methods to vote more than the stated limit, or in other violation of these Contest Rules, will void that voter’s votes and that Entry may be disqualified in Explorer’s Edge’s sole discretion.<br>

A Participant may encourage other persons to vote for his or her Entry, but Participants (and  other persons) are expressly prohibited from soliciting or obtaining votes by any fraudulent or inappropriate means, which include, without limitation, offering prizes, payments, reciprocal votes, or other inducements of any kind, or participating in voting boards, voting exchanges, voting swaps, or similar sites or methods, all as determined by Explorer’s Edge in its sole discretion. The use of any device to automate a vote also is prohibited.  This includes, but is not limited to, the use of software-generated, robotic, programmed, script, macro, or other automated votes, and Explorer’s Edge reserves the right to nullify any and all such votes made by such means and to disqualify the responsible individual(s) from voting.<br>

All voting must be done by the actual person casting the vote.  A person may not vote on behalf of another person.  Votes intended to impact the integrity of the voting process as determined by Sponsor in sponsor’s sole discretion are void.<br>
      </p>
      <h3>Eligibility to Vote</h3>
      <p>
        Except as prohibited in the section above, all people are eligible to vote. Qualified voters may vote for more than one Entry, but only once per Entry.
      </p>
      <h1>CONTEST PRIVACY POLICY</h1>
      <p>
        This Web site (“Site”) is developed, operated and updated by Explorer’s Edge (“Regional Tourism Organization 12”). Explorer’s Edge respects your privacy and is committed to protecting it. This section outlines how we gather and disseminate information and, particularly with respect to your own Personal Information, how you can maximize your control over its disclosure. By entering the contest, you agree to be bound by all terms, conditions and notices contained or referenced herein as well as in Explorer’s Edge’s Contest Rules (“Contest Rules”).
Explorer’s Edge may change this policy at any time by posting revisions to the Site, and your continued use of the Site indicates your agreement to the revised terms. Accordingly, you should check this document and the policies herein from time to time to keep informed of such changes and if you do not agree to the terms of these policies or revisions please do not register as a user or deregister as a user and exit the Site immediately.
      </p>
      <h3>Information Collected</h3>
      <p>
        Explorer’s Edge may collect two types of information: personal information (“Personal Information”) and aggregated non-personally identifiable information (“Aggregated Information”). Personal Information includes information such as your name, user name, address, city, e-mail address, and IP address.<br>

Aggregated Information will include information that is anonymous, such as the type of browser you are using, general non-identifying demographic information and other such non-personally identifiable information.
      </p>
      <h3>Why We Collect Information</h3>
      <p>
        You will be required to register or otherwise voluntarily provide Personal Information in order to access and enter the contest. Explorer’s Edge may collect Aggregated Information through the use of cookies or by other means. We use this information to assess general usage patterns, including identifying repeat users, collecting demographic information, administering and making improvements to the Site to tailor our visitors’ experiences and to display content according to a visitor’s preferences. Subject to agreements with third parties, Explorer’s Edge may match Aggregated Information with parameters established by third parties, without releasing Personal Information or information that may specifically identify our users. This may be done in order to describe the Site or services to trading partners, advertisers or other third parties by disclosing certain general statistics such as the percentage of our users who are men, women, professionals, etc. Explorer’s Edge, our affiliated companies, business partners and such other third party as we may designate reserve the right to use, maintain, update, disclose and/or sell Aggregate Information to third parties.
      </p>
      <h3>How we Use Information</h3>
      <p>
        Explorer’s Edge uses information to compile statistical data and to contact users and provide administration of the contest. Explorer’s Edge may use your information specifically for the following purposes: (i) to improve the content of the Site; (ii) to personalize and/or customize the content and/or layout of the Site for individual visitors; (iii) to notify visitors about updates to the Site; (iv) to identify visitor preferences; (v) to keep you informed about products and services in which you have expressed an interest; (vi) to establish your eligibility for special offers and discounts; (vii) to complete business transactions; (viii) to contact you as part of this promotion; (ix) to allow you to make a posting on the Site; (x) to administer individual accounts; (xi) to provide customer support; (xii) to meet legal requirements; (xiii) to provide Internet security; and/or (xiv) to analyze the collected information. If you enter or win Explorer’s Edge contest, Explorer’s Edge and/or our partners may publish your name, photograph – if applicable -- and city of residence.  We do not disclose your Personal Information to third parties except to the extent necessary to enable them to provide the specific services related to this contest. Except for the specific and limited purposes set forth in this Privacy Policy, we will not disclose your Personal Information to any third parties unless we obtain your prior permission or are legally compelled to do so. In addition, we will not contact you without your permission except in connection with this contest, or in relation to marketing information. By entering the contest, you are consenting to receiving e-mails, promotional and/or marketing information about other products, services and offerings from Explorer’s Edge and/or any third parties or other information from Explorer’s Edge. If you have questions about how your personal information is used, please contact us.
      </p>
      <h3>Cookies & Social Integrations</h3>
      <p>
        When you visit the Site, we or a third-party advertiser may store or recognize some information on your computer in the form of a "cookie" or similar file. "Cookies" are small files that identify an individual computer's browser entering the Site. They do not pose a security threat to you. Personal information, when stored within the cookies, may be accessed through your participation with third party social media sites. Cookies allow us to track a browser's movement through the Site over several sessions which enable the Site to recognize repeat visitors, facilitate access to and use of the Site and to allow the Site to track usage behaviour that will enable content improvement and allow us to tailor our Site to better match your interests and preferences. If you do not want cookies placed on your computer, you can erase cookies from your computer hard drive, block cookies or receive a warning before a cookie is stored. Most Internet browsers or other software will allow you to do this. Please refer to your browser instructions or help screen to learn more about these functions. If you reject cookies, Site functionality may be severely limited and you may not be able to take advantage of many of the Site's features.
      </p>
      <h3>Security</h3>
      <p>
        Any unauthorized use of the Site may result in criminal and/or civil prosecution. Explorer’s Edge has policies and procedures in place to protect the privacy and confidentiality of your information that we collect and maintain. This Site has reasonable security measures in place to protect against the loss, misuse or interception of your information. It is up to you to fully understand the risks and threats of using the public Internet and to be sufficiently aware of those risks to adequately protect your information. Explorer’s Edge’s advice herein is provided as a guideline only, and it is up to the user to remain current and exercise care when using the Internet. You should seek professional advice on protecting your privacy and evaluating the security of the information systems you are using. Explorer’s Edge assumes no liability for interception, alteration or misuse of information transmitted over the Internet.<br>

If you have any concerns about privacy procedures at our Site: email us at: info@Explorersedge.ca.<br>

Please make any communications as complete and descriptive as possible, and we will attempt to respond promptly to your concerns.
      </p>
    </div>

  </div>

</div>
